stage3/03-nodejs/files/flows_raspberrypi.json
[{"id":"bd93e9de.473388","type":"tab","label":"Network"},{"id":"e53f9061.9c4d3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b906bcb7.f06be","type":"ui_group","z":"","name":"Children","tab":"e3049028.c223c","order":2,"disp":true,"width":"12"},{"id":"b13d62f5.31f88","type":"ui_group","z":"","name":"Commission","tab":"e3049028.c223c","order":1,"disp":true,"width":"12"},{"id":"e3049028.c223c","type":"ui_tab","z":"","name":"Network","icon":"dashboard"},{"id":"e6f912cf.849d","type":"ui_group","z":"","name":"Children","tab":"884ab15e.0ae4b","order":2,"disp":true,"width":"12"},{"id":"e29ed2ef.a1302","type":"ui_group","z":"","name":"Commission","tab":"884ab15e.0ae4b","order":1,"disp":true,"width":"12"},{"id":"884ab15e.0ae4b","type":"ui_tab","z":"","name":"Network","icon":"dashboard"},{"id":"9d33a1f2.63778","type":"ui_template","z":"bd93e9de.473388","group":"e6f912cf.849d","name":"Children","order":0,"width":"12","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>\n\n<br>&nbsp;</br>","storeOutMessages":true,"fwdInMessages":true,"x":769.000057220459,"y":552.2222499847412,"wires":[[]]},{"id":"ff6af5b7.28e038","type":"exec","z":"bd93e9de.473388","command":"wpanctl commissioner -a ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":401.66664123535156,"y":407.27778816223145,"wires":[[],["88328cda.658ba","4f2b0374.d0aacc"],[]]},{"id":"efd51aeb.51b088","type":"function","z":"bd93e9de.473388","name":"validate","func":"const regex = /^[0-9ABCDEFGHJKLMNPRSTUVWXY]{6,32}$/g;\n\nvar psk = msg.payload\n\nif (regex.exec(psk)) {\n    msg.payload = psk\n    return msg;\n}","outputs":1,"noerr":0,"x":207.66664123535156,"y":406.77778816223145,"wires":[["ff6af5b7.28e038"]]},{"id":"88328cda.658ba","type":"debug","z":"bd93e9de.473388","name":"","active":true,"console":"false","complete":"false","x":613.8888320922852,"y":444.0000066757202,"wires":[]},{"id":"4f2b0374.d0aacc","type":"function","z":"bd93e9de.473388","name":"Report status","func":"if (msg.payload.indexOf(\"Joiner added.\") != -1) {\n    msg.payload = \"PSK set\";\n} else {\n    msg.payload = \"Error setting PSK\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":623.6666412353516,"y":406.77778816223145,"wires":[["cc129c3.7ef226"]]},{"id":"bc0d93e0.1fc82","type":"ui_text_input","z":"bd93e9de.473388","name":"psk","label":"Device PSK","group":"e29ed2ef.a1302","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":75.66664123535156,"y":405.77778816223145,"wires":[["efd51aeb.51b088"]]},{"id":"e736f6ee.354a38","type":"ui_text","z":"bd93e9de.473388","group":"e29ed2ef.a1302","order":1,"width":0,"height":0,"name":"info","label":"","format":"Enter PSK and press enter","layout":"row-left","x":75.66664123535156,"y":365.77778816223145,"wires":[]},{"id":"cc129c3.7ef226","type":"ui_toast","z":"bd93e9de.473388","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":833.6666412353516,"y":405.77778816223145,"wires":[]},{"id":"e23a4677.b06998","type":"function","z":"bd93e9de.473388","name":"Format list","func":"var lines = msg.payload.split(/[\\r\\n]+/g);\n// msg.payload = \"<li>Foo</li>\";\n// msg.payload += \"<li>Bar</li>\";\n\nmsg.payload = \"<table><tbody><tr><td>ID</td><td>RSSI</td><td>Age</td></tr>\";\nfor (var i=1; i<lines.length-2; i++) {\n    var data = [];\n    var kvs = eval(lines[i]).split(',');\n    for (var j=0; j<kvs.length; j++) {\n        var kv = kvs[j].split(\":\");\n        data.push(kv[1] ? kv[1] : kv[0]);\n    }\n    var x = kvs[0];\n    var y = x.split(\":\");\n    var z = y[0];\n    msg.payload += \"<tr>\";\n    msg.payload += \"<td>\" + data[0] + \"</td>\";\n    msg.payload += \"<td>\" + data[4] + \"</td>\";\n    msg.payload += \"<td>\" + data[7] + \"/\" + data[6] + \"</td>\";\n    msg.payload += \"</tr>\";\n}\nmsg.payload += \"</tbody></table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":592.1111145019531,"y":553.000020980835,"wires":[["9d33a1f2.63778","c9a8c96b.7acd58"]]},{"id":"8be3f12b.1cfc4","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":120.11111450195312,"y":565.000020980835,"wires":[["2a6433e.e72a9cc"]]},{"id":"2a6433e.e72a9cc","type":"exec","z":"bd93e9de.473388","command":"wpanctl getprop Thread:ChildTable","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":350.1111145019531,"y":565.500020980835,"wires":[["e23a4677.b06998"],[],[]]},{"id":"c9a8c96b.7acd58","type":"debug","z":"bd93e9de.473388","name":"","active":false,"console":"false","complete":"payload","x":776.7778167724609,"y":587.5555839538574,"wires":[]},{"id":"f9573c64.6aa9e","type":"exec","z":"bd93e9de.473388","command":"sudo /home/pi/.node-red/scripts/wpan_restart.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"Restart WPAN","x":661.8888893127441,"y":229.50000762939453,"wires":[["a428d14d.40eaa"],[],[]]},{"id":"bfc62ce3.01d9","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":119.88888931274414,"y":227.00000762939453,"wires":[["573051e4.fe521"]]},{"id":"573051e4.fe521","type":"exec","z":"bd93e9de.473388","command":"wpanctl status","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":290.88888931274414,"y":228.00000762939453,"wires":[["d4b47b7a.844848"],[],[]]},{"id":"d4b47b7a.844848","type":"function","z":"bd93e9de.473388","name":"Detect problem","func":"if (msg.payload.indexOf('\"NCP:State\" => \"associated\"') == -1)\n    return msg;","outputs":1,"noerr":0,"x":481.88888931274414,"y":229.00000762939453,"wires":[["f9573c64.6aa9e"]]},{"id":"a428d14d.40eaa","type":"debug","z":"bd93e9de.473388","name":"","active":true,"console":"false","complete":"false","x":836.1111373901367,"y":216.0000114440918,"wires":[]},{"id":"202f24de.7185ec","type":"comment","z":"bd93e9de.473388","name":"Network status daemon","info":"From time to time USB error occurs and wpan interface is desctructed.\nThis daemon checks the status of wpan0 interfacte and restart the USB and network if error condition is detected.\n","x":122.94444274902344,"y":180.33334255218506,"wires":[]},{"id":"b0c1c76b.ffbac8","type":"comment","z":"bd93e9de.473388","name":"Commissioning field","info":"","x":111.66667175292969,"y":325.5555648803711,"wires":[]},{"id":"7fbd13a9.85f0ac","type":"comment","z":"bd93e9de.473388","name":"Children list","info":"","x":96.11111026340063,"y":512.2222330305311,"wires":[]},{"id":"1bbaa16b.45aa4f","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":117.77777862548828,"y":90,"wires":[["b7c98adf.b161c8"]]},{"id":"27122492.19828c","type":"comment","z":"bd93e9de.473388","name":"Initial configuration","info":"Check if OpenThread network configuration is present and if not - create new configuration.","x":116.66666666666667,"y":41.11111111111111,"wires":[]},{"id":"2e34e33e.44faac","type":"exec","z":"bd93e9de.473388","command":"sudo /home/pi/.node-red/scripts/wpan_new_configuration.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"Create new settings","x":680.0000076293945,"y":91.11110496520996,"wires":[[],[],[]]},{"id":"b7c98adf.b161c8","type":"file in","z":"bd93e9de.473388","name":"wpan_network_key","filename":"/home/pi/.node-red/scripts/wpan_network_key","format":"utf8","x":301.11107635498047,"y":91.11111831665039,"wires":[["3da60ba7.b24b44"]]},{"id":"3da60ba7.b24b44","type":"function","z":"bd93e9de.473388","name":"Validate key","func":"if (!msg.payload || msg.payload.length != 32) {\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":482.7777442932129,"y":92.22223377227783,"wires":[["2e34e33e.44faac"]]}]